/* Menu Container */
div.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  text-align: center;
}

/* Game Title */
h3.gameTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 60px;
}

/* Button Group */
div.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Spacing between buttons */
}

/* Difficulty Buttons */
button.difficultyButton {
  width: 300px;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  border-radius: 40px;
  text-transform: uppercase;
  //background: linear-gradient(45deg, #8e44ad, #3498db);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    //background: linear-gradient(45deg, #3498db, #8e44ad);
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
